<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
</head>
<body ng-app="todolist" ng-cloak>
<div class="container" ng-controller="ctrl">
    <div class="row col-xs-8 col-xs-offset-2">
        <div class="row col-xs-12">
            <h1>todo list</h1>
        </div>
        <div class="row col-xs-12">
            <table class="table table-hover">
                <tr ng-repeat="task in tasks | filter:{completed:false} | orderBy:'order'">
                    <td class="col-xs-10">
                        <h4 ng-bind="task.text" />
                    </td>
                    <td class="col-xs-2 text-right">
                        <button class="btn btn-default" ng-click="finishTask(task.id)">Finish</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
